<p style="margin-top: 2em">
    You can sign in to the tournament with AI that you is not currently active. <br />
</p>
<p class="text-danger">
    You are expected to be online 5 minutes before tournament starts, otherwise you
    will be disqualified.
</p>
