@model FootballAIGameWeb.ViewModels.Tournaments.TournamentDetailsViewModel


<p style="margin-top: 4em">
    You can also join the tournament with AI that you is not currently active. <br />
</p>
<p class="text-danger">
    Your AI is expected to be active 5 minutes before the tournament starts, otherwise you
    will be disqualified.
</p>

<div style="margin: auto; margin-top: 2em; max-width: 60%">
    <label for="ai-selection">AI Name</label>
    <select class="form-control" id="ai-selection">
        @foreach (var ai in Model.ActiveAIs)
        {
            <option>@ai</option>
        }
    </select>
    <button class="btn btn-default" style="margin-top: 1em">Join</button>
</div>


