
@{
    ViewBag.Title = "Action Restrictions";
}

<h2>Action Restrictions</h2>

<section>
    <p>
        If an action received from an AI client doesn't fulfill these rules, then it is corrected
        accordingly and an information about the error is added to the match's error log.
    </p>

    <h3>Football player movement</h3>

    <p>
        The maximum allowed player speed is 4 + speedParamaterValue * 5 meters per second.
    </p>
    <p>
        If a football player action's movement vector is longer than the maximum value, then it is
        truncated to the maximum value.
    </p>

    <p>The maximum player allowed acceleration is 5 meters per second squared.</p>
    <p>
        If the difference between the football player old movement vector and action's movement vector is longer
        than the maximum acceleration value, then it is truncated to the maximum value and added to the old movement vector to
        get the corrected movement vector.
    </p>
    
    <p>
        Football player can not move more than 5 meters horizontally or vertically outside of the football field.
        He is stopped at the boundary of that range.
    </p>

    <h3>Football player kick</h3>
    <p>
        The maximum allowed length of the kick vector is 15 + kickPowerValue * 5 meters per second. If the action's
        kick vector is longer than the maximum allowed value, then it is truncated to the maximum allowed value.
    </p>
    <p>
        The maximum distance from the ball for kicking the ball is 2 meters.
    </p>
    <p>
        If there are more players near ball kicking the ball, then only one player's kick is
        successful. The player, who kicked ball in the last simulation step,
        has higher chance of his kick to be successful. The chance is also affected by the possession parameter.
    </p>
</section>