<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings configSource="Sensitive\ConnectionLocal.config" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <system.serviceModel>



    <behaviors>
      <serviceBehaviors>

        <behavior name="mexBehavior">

          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <!-- optional WSDL EXCHANGE -->

          <serviceDebug includeExceptionDetailInFaults="false" />
          <useRequestHeadersForMetadataAddress />
        </behavior>

      </serviceBehaviors>

    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IGameServerService">
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="mexBehavior" name="FootballAIGame.Server.ApiForWeb.GameServerService">

        <endpoint address="GameService" bindingConfiguration="NetTcpBinding_IGameServerService" binding="netTcpBinding" contract="FootballAIGame.Server.ApiForWeb.IGameServerService" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>--> <!-- uncomment if we you to change service!, metadata exchange for service consumer  -->

        <host>
          <baseAddresses>
            <!-- metadata exchange -->
            <!-- <add baseAddress="http://*:50029/" /> --> <!-- uncomment if we you to change service!, metadata exchange for service consumer  -->


            <!-- to make service public -->
            <add baseAddress="net.tcp://*:50028/" />

            <!-- only local service -->
            <!--
            <add baseAddress="net.tcp://127.0.0.1:50028/" />
            -->

          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
