<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings configSource="Sensitive\ConnectionLocal.config" />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <system.serviceModel>


    
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="mexBehavior">

          <!-- mex metadata exchange is blocked for security reasons (dormitory), TODO -->

          <!--<serviceMetadata httpGetEnabled="true"/>--> <!-- TODO uncomment if we want to change service!, metadata exchange for service consumer  -->

          <serviceDebug includeExceptionDetailInFaults="false" />
          <useRequestHeadersForMetadataAddress/>
        </behavior>
        
      </serviceBehaviors>
      
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IGameServerService" >
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
      

<!--      <netNamedPipeBinding>
        <binding name="NetTcpBinding_IGameServerService" >
          <security mode="None"></security>
        </binding>
      </netNamedPipeBinding>-->
    </bindings>

    <services>
      <service behaviorConfiguration="mexBehavior" name="FootballAIGameServer.ApiForWeb.GameServerService">

        <endpoint address="GameService" bindingConfiguration="NetTcpBinding_IGameServerService" binding="netTcpBinding" contract="FootballAIGameServer.ApiForWeb.IGameServerService" />
<!--
        <endpoint address="GameService" bindingConfiguration="NetTcpBinding_IGameServerService" binding="netNamedPipeBinding" contract="FootballAIGameServer.ApiForWeb.IGameServerService" />
-->

        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>--> <!-- TODO uncomment if we want to change service!, metadata exchange for service consumer  -->

<host>
          <baseAddresses>
            <!-- <add baseAddress="http://*:50029/" /> -->    <!-- TODO uncomment if we want to change service!, metadata exchange for service consumer  -->


            <!-- to make service public -->

<!--
            <add baseAddress="net.tcp://*:50028/"/> 
-->


            

            <add baseAddress="net.tcp://127.0.0.1:50028/" />




          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>