@model IEnumerable<FootballAIGameWeb.Models.Player>
@{
    ViewBag.Title = "Players";
}

<h2 class="text-center">
    Players Statistics
</h2>

<table id="match-table" class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Won games</th>
            <th>Won tournaments</th>
            <th>Details</th>
        </tr>
    </thead>
    @foreach (var player in Model)
    {
        <tr>
            <td>@player.Name</td>
            <td>@player.Score</td>
            <td>@player.WonGames</td>
            <td>@player.WonTournaments</td>
            <td><a href="Details/@(player.Name)">Details</a></td>
        </tr>
    }
    @*
    
*@
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $("#match-table").DataTable({
                "order": [[1, "desc"]]
            });

        });
    </script>
}
