@{
    ViewBag.Title = "About";
}

<h2>
    About
</h2>
<p>
    The Football AI competition is an Artificial Intelligence programming game. You develop AI for the
    football (soccer) team in the programming language of your choice and compete with this AI against other players and their AIs.
    You can choose to compete against random opponent or challenge concrete player.
    Also you can compete in tournaments and gain points for winning. Players are ranked by the amount of
    those points.
</p>