@using FootballAIGameWeb.Models

@{
    ViewBag.Title = "Looking For Opponent";
}

<div class="container text-center" style="margin-top: 4em;">
        <h2 style="margin-bottom: 0em">Looking for opponent</h2>
        <h2 id="dots">&nbsp;</h2>
        <button id="cancel" style="margin-top: 2em" class="btn btn-danger">Cancel</button>
</div>

@section scripts
{
    <script>
        $(document)
            .ready(function() {

                setInterval(ajaxCall, 1000);
                setInterval(animation, 1000);
                var counter = 0;

                function animation() {
                    counter ++;
                    var dots = String.fromCharCode(160); //&nbsp;
                    if (counter > 3)
                        counter = 0;
                    for (var i = 0; i < counter; i++)
                        dots = dots + ".";
                    $("#dots").text(dots);
                }

                function ajaxCall() {
                    $.ajax({
                        url: "/api/game/getplayerstate",
                        success: function(response) {
                            if (@((int) PlayerState.LookingForOpponent) === response) {
                                // still looking
                            } else
                                location.replace("/");
                        }
                    });
                }

                $("#cancel").click(function() {
                    $.ajax({
                        url: "/api/game/cancellooking",
                        method: "put",
                        success: function() {
                            location.replace("/");
                        }
                    });
                });
            });
    </script>
}
