@{
    ViewBag.Title = "Statistics";
}

<h2 class="text-center">
    Statistics
</h2>

<style>
    .statistics-container>a {
        margin-right: 1em;
    }
</style>

<div class="container text-center statistics-container" style="margin-top: 4em;">
   
    <a href="../Players/" class="btn btn-primary">Players</a>
    <a href="../Tournaments/" class="btn btn-primary">Tournaments</a>
    <a href="../Matches/" class="btn btn-primary">Matches</a>
</div>
