@using FootballAIGame.DbModel.Models

@{
    ViewBag.Title = "Looking For Opponent";
}

<div class="container text-center" style="margin-top: 4em;">
    <h2 id="textField" style="margin-bottom: 0em">Waiting for opponent to accept the challenge.</h2>
    <h2 id="dots">&nbsp;</h2>
    <button id="cancel" style="margin-top: 2em" class="btn btn-danger">Cancel</button>
</div>

@section scripts
{
    <script>
        $(document)
            .ready(function() {

                var ajaxCalls = setInterval(ajaxCall, 1000);
                var anim = setInterval(animation, 1000);
                var counter = 0;

                function animation() {
                    counter ++;
                    var dots = String.fromCharCode(160); //&nbsp;
                    if (counter > 3)
                        counter = 0;
                    for (var i = 0; i < counter; i++)
                        dots = dots + ".";
                    $("#dots").text(dots);
                }

                function ajaxCall() {
                    $.ajax({
                        url: "/api/user/getplayerstate",
                        success: function(response) {
                            if (@((int)PlayerState.WaitingForOpponentToAcceptChallenge) === response) {
                                // still waiting
                            } else if (@((int)PlayerState.Idle) === response) {
                                clearInterval(ajaxCalls);
                                clearInterval(anim);
                                $("#dots").text(String.fromCharCode(160));

                                $("#textField").text("Opponent has declined the challenge.");
                                $("#cancel").text("Home");
                                $("#cancel").off("click");
                                $("#cancel")
                                    .on("click",
                                        function() {
                                            location.replace("/");
                                        });
                            } else {
                                location.replace("/");
                            }
                        }
                    });
                }

                $("#cancel")
                    .click(function() {
                        $.ajax({
                            url: "/api/challenges/cancelchallenge",
                            method: "delete",
                            success: function() {
                                location.replace("/");
                            }
                        });
                    });
            });
    </script>
}
