@model FootballAIGameWeb.Models.Match

@{
    ViewBag.Title = "Player Details";
}

<h2 class="text-center">
    <a href="/players/details/@Model.Player1.Name">@Model.Player1.Name</a> vs
    <a href="/players/details/@Model.Player2.Name">@Model.Player2.Name</a>
</h2>