<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Database=FootballAIDB;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>


<!--<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=tcp:footballaigamedb.database.windows.net,1433;Initial Catalog=footballaigamedb;Persist Security Info=False;User ID=Serillan;Password=19ea44f$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>-->