@model IEnumerable<FootballAIGame.DbModel.Models.Tournament>
@{
    ViewBag.Title = "Finished Tournaments";
}

<h2 class="text-center">
    Finished Tournaments
</h2>

<table id="match-table" class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Number of Players</th>
            <th>Details</th>
        </tr>
    </thead>
    @foreach (var tournament in Model)
    {
        <tr>
            <td>@tournament.StartTime</td>
            <td>@tournament.Name</td>
            <td>@tournament.Players.Count</td>
            <td>@Html.ActionLink("Details", "Details", new { Controller = "Tournaments", id = tournament.Id })</td>
        </tr>
    }
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $("#match-table").DataTable({
                "order": [[0, "desc"]] // newest first (the last that finished)
            });
        });
    </script>
}
